<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus odit dignissimos ipsa totam ex dicta dolor tempora deleniti id facilis vero aliquam harum, eveniet nulla quae. Sunt ipsum incidunt eligendi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime libero quo perferendis accusantium! Tempora ad eum similique. Minima quibusdam quo voluptas quisquam corrupti maiores, dignissimos a minus provident, tenetur in!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde nam cupiditate modi quaerat ullam dicta ab, atque consectetur delectus commodi? Praesentium quae consectetur doloribus accusantium, odio accusamus dolore hic sit!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam dolorum ipsam, dolor quaerat, cum nemo hic quam recusandae rem omnis minima ratione distinctio nobis fuga aperiam quis eius enim veritatis.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>