<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-task content">
        
        <form action="/tasks" method="POST">
            <label for="title">Task title</label>
            <input type="text" id="title" name="title" required >
            <label for="snippet">Task snippet</label>
            <input type="text" id="snippet" name="snippet" required>
            <label for="body">Task body</label>
            <textarea  id="body" name="body" required></textarea>
            <label for="start">Start Date</label>
            <input type="date" id="startDate" name="startDate" required>
            <label for="start">Due Date</label>
            <input type="date" id="dueDate" name="dueDate" required>

            <input type="submit" value="Create">
        </form>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>